@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Public+Sans:400,500,600,700|Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Public Sans', Helvetica, Arial, sans-serif; }

a {
  color: inherit;
  text-decoration: unset; }

h1, h2, h3, h4, h5, h6 {
  margin: unset;
  font-family: 'Poppins', sans-serif; }

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic; }

h2 {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic; }

h3 {
  font-size: 1.3rem;
  font-weight: 800;
  font-style: italic; }

hr {
  border: none;
  border-top: 0.125rem dashed #414759;
  margin: 0 0 1rem 0; }

form > *:not(:last-child) {
  margin-bottom: 1rem; }

input {
  display: block;
  border: unset;
  font: inherit;
  color: inherit;
  background-color: inherit;
  min-width: 0; }

input[type="submit"] {
  cursor: pointer; }

form .actions {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  form .actions > *:not(:last-child) {
    margin-right: 2rem; }

img.logo {
  height: 3rem; }

div.error {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgba(244, 40, 37, 0.08);
  color: #f42825; }
  div.error:not(:last-child) {
    margin-bottom: 1rem; }

div.info {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgba(33, 36, 45, 0.08);
  color: #21242D; }
  div.info:not(:last-child) {
    margin-bottom: 1rem; }

.btn {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  cursor: pointer;
  text-align: center;
  color: rgba(0, 0, 0, 0.6); }
  .btn .icon {
    fill: rgba(0, 0, 0, 0.6); }
  .btn:hover {
    color: rgba(0, 0, 0, 0.87); }
    .btn:hover .icon {
      fill: rgba(0, 0, 0, 0.87); }
  .btn.error:hover {
    color: #f42825; }

.btn-raised {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 100vh;
  background-color: #ff3d00;
  color: rgba(0, 0, 0, 0.87); }
  .btn-raised.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .btn-raised .icon {
    fill: rgba(0, 0, 0, 0.87); }
  .btn-raised:hover {
    background-color: #ff6433; }
  .btn-raised[disabled] {
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.04); }

.btn-inline {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.6); }
  .btn-inline .icon {
    fill: rgba(0, 0, 0, 0.6); }
  .btn-inline:hover {
    color: rgba(0, 0, 0, 0.87); }
    .btn-inline:hover .icon {
      fill: rgba(0, 0, 0, 0.87); }
  .btn-inline.error:hover {
    color: #f42825; }

.dark.btn, .dark.btn-inline {
  color: rgba(255, 255, 255, 0.6); }
  .dark.btn .icon, .dark.btn-inline .icon {
    fill: rgba(255, 255, 255, 0.6); }
  .dark.btn:hover, .dark.btn-inline:hover {
    color: rgba(255, 255, 255, 0.87); }
    .dark.btn:hover .icon, .dark.btn-inline:hover .icon {
      fill: rgba(255, 255, 255, 0.87); }
  .dark.btn.error:hover, .dark.btn-inline.error:hover {
    color: #f42825; }
    .dark.btn.error:hover .icon, .dark.btn-inline.error:hover .icon {
      fill: #f42825; }

.dark.btn-raised {
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.5rem 0 black; }
  .dark.btn-raised:hover {
    background-color: #d9d9d9; }

/*# sourceMappingURL=../../../../../../target/components/button.css.map */