@import "../../components/drawer";
@import "../../fragments/navigation";
@import "../../layouts/dashboard";

.page-admin-holidays {
    padding-right: $margin;

    h2 {
        margin-bottom: 1rem;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    .holiday {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        padding: 1rem;

        background-color: $surface-color;
        color: $background-color-text;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .actions {
            display: flex;
            justify-content: flex-end;

            > *:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}