@import "../main";
@import "../components/button";
@import "../components/textfield";

.fragment-login {
    position: relative;
    padding: 3rem 2rem 2rem;
    border-radius: 0.125rem;

    h2 {
        top: -1rem;
        position: absolute;
    }

    input[type="submit"] {
        margin-left: auto;
    }
}
