<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/icons/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/shop/cart.css}"/>
    <title>Warenkorb &mdash; Fitnessstudio</title>
</head>

<body>

<header th:replace="fragments/navigation :: navigation"></header>
<div th:classappend="left-column" th:replace="fragments/drawer-shop :: drawer-shop"></div>
<main class="page-shop_cart">
    <div class="items">
        <div class="item" th:each="item : ${cart}">
            <a class="item_product" th:href="@{/shop/product/{id}(id=${item.product.id})}">
                <h3 th:text="${item.product.name}"></h3>
            </a>
            <form class="item_amount" th:action="@{/shop/cart/{id}(id=${item.id})}" method="post">
                <span class="title">Anzahl</span>
                <input type="number" name="amount" class="textfield" th:value="${item.quantity}" placeholder="Anzahl"
                       min="0" th:max="${stock.findUnexpiredItemsSorted(item.product.id, today).totalQuantity.amount.intValue()}" required>
                <input type="submit" class="btn" value="Übernehmen">
            </form>
            <span class="item_price" th:text="${item.price}"></span>
        </div>
    </div>
    <form class="buy" th:action="@{/shop/checkout}" method="post" th:if="${!cart.empty}" th:object="${orderForm}">
        <input class="textfield buy_customer" type="number" min="0" name="customer" placeholder="Kundennummer" required th:field="*{customer}">
        <div class="error" th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}"></div>
        <input type="submit" class="btn-raised" value="Bezahlen">
        <h3 th:text="${cart.price}"></h3>
    </form>
</main>
<div class="right-column"></div>

</body>

</html>