<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/icons/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/shop/order.css}"/>
    <title>Bestellung &mdash; Fitnessstudio</title>
</head>

<body>

<header th:replace="fragments/navigation :: navigation"></header>
<div class="left-column"></div>
<main class="page-shop_orders">
    <h2>Bestellungen</h2>
    <div class="orders">
        <a class="order" th:each="order : ${orders}" th:href="@{/orders/{id}(id=${order.id})}">
            <div class="title" th:text="${#temporals.format(order.dateCreated)}"></div>
            <div>
                <span class="title">Bestellnummer: </span>
                <span th:text="${order.id}"></span>
            </div>
            <div class="title total" th:text="${order.total}"></div>
        </a>
    </div>
</main>
<div class="right-column"></div>

</body>

</html>